<!DOCTYPE html>
<html>
<head>
<title>RONA KOOT|Painting Swarovski Jewelry</title>
<META NAME="robots" CONTENT="all">
	<meta name="keywords" content="Swarovski crystal component; fine art painting; jewelry design.">
	<meta name="description" content="Paintings with hundreds of silveren Swarovski crystal components. Jewelry with multiple diamonds and gemstones">
<style type="text/css">
		.auto-style1 {
			text-align: center;
		}
		.auto-style2 {
			text-align: right;
		}
		.auto-style3 {
			font-size: small;
		}
		.auto-style4 {
			letter-spacing: 3px;
		}
		.auto-style5 {
			margin-top: 33px;
		}
</style>
</head>
<table id="header">
	<tr>
		<td class="col1"></td>
		<td class="col2">
		<p></p>
		<p></p>
		<p>&nbsp;</p>
		<p class="auto-style2">&nbsp;<span style="letter-spacing: 12px"><font size="5" face="Cambria">RONA KOOT</font></span></p>
		<p class="auto-style2"><span style="letter-spacing: 8px">
		<font face="Cambria" size="1" color="#434343">FINE ART PAINTING 
		&amp; JEWELRY DESIGN</font></span></p>
		<p style="margin-top: 0; margin-bottom: 0" class="auto-style1">
		&nbsp;</td>
		<td class="col3"></td>
	</tr>
</table>
<body>

  <div id="title">
  <h1>About</h1>
  </div>

<div id="col1">
  <p>Rona Koot's work needs to be seen in the flesh. The reason for this is because most of the subjects of Rona's work are women, adorned in amazing headpieces, jewellery and luxurious fashion. hand-crafted with the magic of Swarovski crystals. Rona is a truley multi-faceted artist. exhibiting a collection of oil paintings fused with swarovski crystals.</p>

 <p>She also desings jewellery for exclusive design house jewellers, and she has worked as a graphic artist and fashion designerm as well as indulding in her main passion, art fusion painting. Rona's versayilliy can be anttributed to many sources, a belief in the power of sensitivity of women, an education in oriental art and pure creative ability.</p>
</div>

<div id="col2">
 <p>Rona was born in Amsterdam and obtained her degree in graphic design and drawing at the Amsterdam School for Graphic Art. Her first job was an assitant to a well known dutch professionals in the fahsion and theatre industry. she went on to work for advertising agencies as a commersical artist. marriage and international nature of her husbands job led her to work in asia, where she lived for many years. She studied art further in tokyo and worked for tokyo's coiffure de paris magazine , and was published in japan's time magazine.</p>

<p>In Singapore her paintings were exhibited at the Grand Hyatt Hotel, receiving rave reviews from international critics. Its one thing to see Rona's work on paper, and a other altogether to see how the sun or night play upon Swarovski divinely cut crystals, sending out beams of colour from Rona's vision of a woman who is at times intense and powerful and at others gentle and innocent as morning dew on a flower. </p>
</div>
</body>
</html>