<!DOCTYPE html>
<html>
<head>
<title>RONA KOOT|Painting Swarovski Jewelry</title>
<META NAME="robots" CONTENT="all">
	<meta name="keywords" content="Swarovski crystal component; fine art painting; jewelry design.">
	<meta name="description" content="Paintings with hundreds of silveren Swarovski crystal components. Jewelry with multiple diamonds and gemstones">
	
<style type="text/css">
		.auto-style1 {
			text-align: center;
		}
		.auto-style2 {
			text-align: right;
		}
		.auto-style3 {
			font-size: x-large;
		}
		.auto-style4 {
			letter-spacing: 3px;
		}
		.auto-style5 {
			margin-top: 33px;
		}
</style>
</head>
<table id="header">
	<tr>
		<td class="col1"></td>
		<td class="col2">
		<p></p>
		<p></p>
		<p>&nbsp;</p>
		<p class="auto-style2">&nbsp;<span style="letter-spacing: 12px"><font size="6" face="Cambria">RONA KOOT</font></span></p>
		<p class="auto-style2"><span style="letter-spacing: 8px">
		<font face="Cambria" size="1" color="#434343">FINE ART PAINTING 
		&amp; JEWELRY DESIGN</font></span></p>
		<p style="margin-top: 0; margin-bottom: 0" class="auto-style1">
		&nbsp;</td>
		<td class="col3"></td>
	</tr>
</table>


<div id="title">
<h3>Enquires</h3>
</div>



<div id="form">
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Your name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="email">Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>						
</div>

<br>
<br>
<br>
Social media 
<p>
<%= link_to "http://www.facebook.com/mypage", :target => "_blank" do %>
  <%= image_tag("facebook.png", :class => "facebook_icon", :alt => "Facebook", :width => 50, :height => 50) %>     
<% end %>  
<%= link_to "https://nl.linkedin.com/in/rona-koot-a6968b88", :target => "_blank" do %>
  <%= image_tag("linkedin.png", :class => "linkedin_icon", :alt => "linkedin", :width => 50, :height => 50) %>     
<% end %> 
</p>




