<!DOCTYPE html>
<html>
<head>
<title>RONA KOOT|Painting Swarovski Jewelry</title>
<META NAME="robots" CONTENT="all">
	<meta name="keywords" content="Swarovski crystal component; fine art painting; jewelry design.">
	<meta name="description" content="Paintings with hundreds of silveren Swarovski crystal components. Jewelry with multiple diamonds and gemstones">
<style type="text/css">
		.auto-style1 {
			text-align: center;
		}
		.auto-style2 {
			text-align: right;
		}
		.auto-style3 {
			font-size: x-large;
		}
		.auto-style4 {
			letter-spacing: 3px;
		}
		.auto-style5 {
			margin-top: 33px;
		}
</style>
</head>
<table id="header">
	<tr>
		<td class="col1"></td>
		<td class="col2">
		<p></p>
		<p></p>
		<p>&nbsp;</p>
		<p class="auto-style2">&nbsp;<span style="letter-spacing: 12px"><font size="6" face="Cambria">RONA KOOT</font></span></p>
		<p class="auto-style2"><span style="letter-spacing: 8px">
		<font face="Cambria" size="1" color="#434343">FINE ART PAINTING 
		&amp; JEWELRY DESIGN</font></span></p>
		<p style="margin-top: 0; margin-bottom: 0" class="auto-style1">
		&nbsp;</td>
		<td class="col3"></td>
	</tr>
</table>

<body>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
       <img src="assets/1_p6_6.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h3>Rona Koot</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/1_p6_6.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>
    
      <div class="item">
        <img src="assets/1_p6_6.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
      
  <div class="item">
        <img src="assets/1_p6_6.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>




