

<body>
	<h1>Expostions</h1>
	Recent expositons
	<p>
	<li>Artemis Hotel Amsterdam november 2014</li>
	<li>Artemis Hotel Amsterdam august 2015 </li>
	</p>
	
	Past expostions
	<p>
	<li>Naarden HOLLAND </li>
	<li>Tokyo </li>
	<li>Singapore Hyatt hotel</li>
	<li>Marbella club hotel</li>
	<li>Corte ingles Marbella</li>
	</p>
</body>