<br> 
<br> 


<h1>Recent News </h1>

<p> 
Rona is currently working on new projects and expositions for the summer. Rona has been working on a new way of selling her paintings which most have not come across yet. She has recently decided to do digital paintings or copies of her real work and adding swarovski crystals and digtally altering them to the clients desire. 
</p>

