/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require fancybox
 *= require_tree .
 */
body { padding-top: 100px; margin-top: 50px !important;}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

#cart {
display: inline; 
position: fixed;
right: 9px; 
top: 63px;
}

#col1 { 
width: 50%;
float: left; 

}

#col2 { 
width: 50%;
float: left;
}

#title {
text-align: center;
}

#form { 
text-align: center;}

#products thead th { 
	min-width: 100px;
}

#products td {
  padding-right: 15px;
}

		.auto-style1 {
			text-align: center;
		}
		.auto-style2 {
			text-align: right;
		}
		.auto-style3 {
			font-size: x-large;
		}
		.auto-style4 {
			letter-spacing: 3px;
		}
		.auto-style5 {
			margin-top: 33px;
		}